body {
    background-image: url("212648.jpg"); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center; 
    font-family: 'Times New Roman', Times, serif;
}
